<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/profile.jpeg" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4" 
               style="min-height: 16rem;  padding-top: 10rem !important;">
              <button class="btn btn-sm btn-warning"> update photo </button>
              <p class="mt-2"> 
                Admission number: {{student.admissionNumber}}  
              </p>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-secondary border-0">
            <ul class="nav nav-tabs">
              <li class="nav-item" *ngFor="let detailSection of detailSections">
                <a class="nav-link" href="" 
                  style="padding: 0.8rem"
                  [ngClass]="{ 'active' : selectedSection.title === detailSection.title }" 
                   (click)="onSelect($event, detailSection)"> 
                   <b class="heading-small text-muted">{{ detailSection.title }}</b> 
                </a>
              </li>
            </ul>
            
            <!--
            <div class="row align-items-center">              
              <div class="col-8">
                <h3 class="mb-0">
                    {{ isNew ?  'Add a new student' : 'Update the student'  }}</h3>
              </div>
              <div class="col-4 text-right">
                <button (click)="onSubmit()" class="btn btn-sm btn-primary">
                    {{ isNew ? 'add' : 'update' }}
                </button>
                <a [routerLink]="['students']" class="btn btn-sm btn-secondary"> cancel </a>
              </div>
            </div>
            -->
          </div>
          <div class="card-body">
            <form [formGroup]="studentForm">
              <div class="pl-lg-4" *ngIf="selectedSection.id === 'student'">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="firstname">First name</label>
                      <input type="text" formControlName="firstName" id="firstname" class="form-control form-control-alternative" placeholder="first name">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="middlename">Middle name</label>
                      <input type="text" formControlName="middleName" id="middlename" class="form-control form-control-alternative" placeholder="Middle name" value="Lucky">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="lastname">Last name</label>
                      <input type="text" formControlName="lastName" id="lastname" class="form-control form-control-alternative" placeholder="Last name" value="Jesse">
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="gender">Gender</label>
                        <select id="gender" formControlName="gender" class="form-control form-control-alternative" placeholder="Select gender">
                            <option value="male"> Male </option>
                            <option value="female"> Female </option>
                            <option value="other"> Other </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="dob">Date of birth</label>
                        <input type="date" formControlName="dob" id="dob" class="form-control form-control-alternative" placeholder="DD/MM/YYYY">
                      </div>
                    </div>
                  </div>              
                </div>


              <div class="pl-lg-4" *ngIf="selectedSection.id === 'parent'">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="parentname">Parent name</label>
                      <input type="text" formControlName="parentName" id="parentname" class="form-control form-control-alternative" placeholder="Parent name">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="mobilenumber">Mobile number</label>
                      <input type="text" formControlName="phone" id="mobilenumber" class="form-control form-control-alternative" placeholder="9999999999">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Address -->
              <div class="pl-lg-4" *ngIf="selectedSection.id === 'contact'">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Address</label>
                      <input type="text" id="input-address" formControlName="address" class="form-control form-control-alternative" placeholder="Home Address">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-city">City</label>
                      <input type="text" formControlName="city" id="input-city" class="form-control form-control-alternative" placeholder="City">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="state">State</label>
                      <input type="text" formControlName="state" id="input-state" class="form-control form-control-alternative" placeholder="State">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Postal code</label>
                      <input type="number" formControlName="state" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Attendance -->

              <div class="pl-lg-4" *ngIf="selectedSection.id === 'attendance'">
                <app-calendar></app-calendar>
              </div>
        
              <!-- Exams -->
              <div class="pl-lg-4" *ngIf="selectedSection.id === 'exams'">
                <div class="row">
                  <div class="col-md-6" *ngFor="let exam of exams">
                    <div class="card shadow" style="height: 100%">
                      <div class="card-header border-0">
                        <div class="row align-items-center">
                          <div class="col">
                            <h3 class="mb-0">{{exam.name}}</h3>
                          </div>
                          <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">Report card</a>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">subject</th>
                              <th scope="col">grade</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let res of exam.result">
                              <th scope="row">
                                {{res.subject}}
                              </th>
                              <td>
                                {{res.grade}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
  
                  </div>  
                </div>
              </div>

              <ng-container *ngIf="selectedSection.id === 'student'">
                <hr>
                <div class="pl-lg-4">
                    <button class="btn btn-sm btn-secondary"> Cancel </button>
                    <button class="btn btn-sm btn-warning"> Update </button>
                </div>  
              </ng-container>



            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  