<div class="container-fluid mt--8">
    <ng-template #examModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title text-uppercase" id="modal-basic-title"> Create a new exam </h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="examname" class="form-control-label"> Exam name </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>


                  <app-class-filter (onFilter)="onFilter($event)"></app-class-filter>
                  
                  <div class="col-md-12">
                    <div class="row align-items-center mb-2" *ngFor="let subject of subjects">
                      <div class="col-md-2">
                        <b> {{subject.title}} </b>
                      </div>
                      
                      <div class="col-md-3">
                        <div class="form-group mb-0">
                          <input type="date" class="form-control" />
                        </div>
                      </div>
  
                      <div class="col-md-3">
                        <div class="form-group mb-0">
                          <input type="time" class="form-control" />
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group mb-0">
                          <input type="time" class="form-control" />
                        </div>
                      </div>
  
                    </div>
                   </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" (click)="c('Save click')">Cancel</button>
          <button type="button" class="btn btn-outline-success" (click)="onClose()">Create exam</button>
        </div>
      </ng-template>

    <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0 d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <span class="font-weight-bold ml-2"> {{exams.length}} exams found </span>
              </div>
              <div>
                <button class="btn btn-primary" (click)="onCreateExam(examModal)"> Create exam </button>
              </div>
            </div>

            <div class="table-responsive">
              <div>
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th> # </th>
                      <th scope="col">
                        Class name
                      </th>
                      <th scope=""col>
                        Section
                      </th>
                      <th>
                        Subject
                      </th>
                      <th>
                        Date
                      </th>
                      <th>
                        Exam time
                      </th>
                      <th>
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let exam of exams; let i = index ">
                      <td>
                        <span> <span class="font-weight-bold"> {{i + 1}} </span> </span>
                      </td>  
                      <td>
                        {{exam.className}}
                      </td>
                      <td>
                        {{exam.section}}
                      </td>
                      <td>
                        {{exam.subject}}
                      </td>
                      <td>
                        {{exam.date}}
                      </td>
                      <td>
                        {{exam.startTime.hours}}:{{exam.startTime.minutes}} {{exam.startTime.meridiem}} -
                        {{exam.endTime.hours}}:{{exam.endTime.minutes}} {{exam.endTime.meridiem}}

                      </td>
                      <td>
                        <button class="btn btn-warning btn-sm"> edit </button>
                        <button class="btn btn-danger btn-sm">  delete </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>


</div>