<div class="d-flex justify-content-between align-items-center">
  <button class="btn btn-secondary" (click)="onPreviousMonth()"> Previous </button>
  <b> {{ calendarCreator.getMonthName(monthNumber) }} &nbsp; {{ year }} </b>
  <button class="btn btn-secondary" (click)="onNextMonth()"> Next </button>
</div>

<br>



<div class="calendar">
  <div class="d-flex justify-content-between">
    <span style="width: 3rem; height: 3rem;" *ngFor='let weekDay of weekDaysName' class="day">
      <span class="d-flex align-items-center justify-content-center" style="width: 100%; height: 100%">
        {{ weekDay }}
      </span>  
    </span>
  </div>

  <div class="d-flex justify-content-between" *ngFor="let cDay of cDays">
    <span style="width: 3rem; height: 3rem;" *ngFor="let d of cDay"> 
      <span class="d-flex align-items-center justify-content-center" style="width: 100%; height: 100%">
        {{d.number}} 
      </span>
    </span>
  </div>
</div>